<div class="min-vh-100 d-flex align-items-center">
  <div id="intro-block" class="container text-center text-white">
    <div class="row my-auto">
      <div class="col-md-12 col-lg-5 mx-auto">
        <h1>My First Angular Project Ever</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui hic
          accusamus sint quasi cumque ex ad id quam provident.
        </p>
        <button class="btn btn-pink mx-3">Discover</button>
        <button class="btn btn-secondary mx-3">Contact me</button>
      </div>
    </div>
  </div>
</div>